BACKEND_API_URL=http://127.0.0.1:8000
OPERATOR_API_KEY=dev-operator-api-key
NEXT_PUBLIC_SUPABASE_URL=https://zinrqzsxvpqfoogohrwg.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_Wnf-V2dnSmpEhx5QTXtxNw_SH6BT0M_
